*{
  margin: 0;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

.main{
  background-color: steelblue;
  color:white;
  /* margin-bottom: 10px; */
  padding: 1px;
  /* border: 1px solid transparent; */
  /* SI SE ELIMINA EL BORDER O PADDING, NO HAY NINGUNA CAPA QUE INTERVENGA Y POR ENDE EL PADRE TOMARIA EL MARGIN TOP Y BUTTOM DEL HIJO*/
}

.main_titulo{
  margin-top: 80px;
  margin-bottom: 80px;
}

.footer{
  background-color: slateblue;
  color: white;
}

/*
EL COLAPSO DE MARGENES SOLO SUCEDE EN LOS MARGENES VERTICALES (MARGIN TOP Y BUTTOM)
Y CONSISTE EN QUE SI DOS ELEMENTOS SE ENCUENTRAN UNO ENCIMA DEL OTRO, ESTOS COMPARTEN EL MARGEN, FUSIONANDOSE EN UNO
Y NO SE SUMAN, SINO QUE SE TOMA EL MÁS GRANDE DE LOS DOS
ESTO PASA EN ELEMENTOS HERMANOS ADYACENTES

EN CAMBIO, EL COLAPSO DE ELEMENTOS HIJOS NO SE DA, YA QUE LOS MARGENES DE LOS HIJOS NO SE FUSIONAN CON LOS DE LOS PADRES
Y SIEMPRE TOMA EN CUENTA EL ELEMENTO PADRE QUE ESTE ARRIBA O ABAJO
EN ESTOS CASOS, PARA SEPARAR ELEMENTOS SE DEBE USAR PADDING O UN BORDER, PARA EVITAR QUE EL MARGIN TOP DEL HIJO TOPE CON EL MARGIN BOTTOM DEL PADRE
DE ESTA FORMA, EL PADRE TOMA EL MARGEN DEL PRIMER HIJO Y NO SE FUSIONAN
*/